<%= link_to 'Edit', edit_recipe_path(@recipe), :class => "right" %>
<%= link_to 'Delete', @recipe, :method => :delete, :class => "right", :confirm => "You sure?" %>

<h2><%= @recipe.name %></h2>
<%= @recipe.course %><br>
<%= @recipe.cooktime %> minutes<br>
Serves: <%= @recipe.servingsize %><br>
<%= @recipe.instructions %><br>
<%= image_tag(@recipe.image) %><br>
